<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>807969400234-mgn7npeqp9iv4p3to1o9qdhhiufkv2ag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807969400234-mgn7npeqp9iv4p3to1o9qdhhiufkv2ag</string>
	<key>API_KEY</key>
	<string>AIzaSyCLTv_0JAzR3dmuDbvU2IHoadA8lU0tz9E</string>
	<key>GCM_SENDER_ID</key>
	<string>807969400234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.egco428.FirebaseLogin</string>
	<key>PROJECT_ID</key>
	<string>fir-login-d7ff6</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-login-d7ff6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807969400234:ios:85246cab8199aa75</string>
	<key>DATABASE_URL</key>
	<string>https://fir-login-d7ff6.firebaseio.com</string>
</dict>
</plist>